version: '3.8'

services:
  web:
    build: .
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./myproject:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True
      - SECRET_KEY=django-insecure-7k#m2p@x9w$n5q8r!t4v6y&z*c(e)h+k=m/p?s[u]w^y$$b&d
